body {
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    color: midnightblue;
    text-align: center;
}
.assign {
    display: flex;
    margin: 10px;
    padding: 10px;
    background:hsl(from color h s l);
}
